In [65]:
import pandas as pd
from collections import Counter
import re
import json

In [14]:
freq_df = pd.read_csv("data/frequency.csv", index_col=0)
freq_df.head()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
profession_merge,,,,,,,,,,,,,,,,,,,,,
accountant,0.000014,2.912382e-06,0.000008,2.953883e-06,0.000004,2.389870e-06,0.000012,1.118629e-05,0.000005,1.126231e-05,...,5.670011e-06,5.475462e-06,4.684715e-06,6.246820e-06,5.750266e-06,5.348605e-06,4.947257e-06,4.641961e-06,6.724351e-06,4.120042e-06
acrobat,0.000005,4.853971e-07,0.000002,9.846275e-07,0.000002,6.828201e-07,0.000001,6.292289e-06,0.000003,6.624888e-07,...,8.015198e-07,3.716377e-07,6.417418e-07,4.656015e-07,5.124000e-07,3.650925e-07,6.184072e-07,7.320016e-07,4.854478e-07,7.704143e-07
actor,0.000030,2.329906e-05,0.000041,3.544659e-05,0.000033,1.707050e-05,0.000021,3.950159e-05,0.000029,1.755595e-05,...,2.977498e-05,3.017698e-05,2.708150e-05,2.692729e-05,2.856155e-05,2.893358e-05,2.731905e-05,2.754826e-05,3.315429e-05,2.003077e-05
actress,0.000024,1.601810e-05,0.000016,4.676981e-05,0.000019,1.024230e-05,0.000016,1.398287e-05,0.000014,1.258729e-05,...,1.175562e-05,1.283389e-05,1.050317e-05,1.247424e-05,1.254431e-05,1.186551e-05,1.098582e-05,8.569775e-06,1.181256e-05,8.575046e-06
administrator,0.000005,9.707941e-07,0.000006,4.923138e-07,0.000001,2.048460e-06,0.000004,6.991433e-07,0.000001,1.656222e-06,...,2.048329e-06,2.130723e-06,1.946617e-06,1.998206e-06,2.125511e-06,1.898481e-06,1.818845e-06,1.874638e-06,1.833914e-06,1.574325e-06

In [16]:
df = freq_df.T

In [17]:
df.columns

Index(['accountant', 'acrobat', 'actor', 'actress', 'administrator', 'admiral',
       'advertiser', 'adviser', 'airman', 'alderman',
       ...
       'warden', 'watcher', 'watchman', 'weatherman', 'weaver',
       'wedding planner', 'wingman', 'witch doctor', 'wrestler', 'writer'],
      dtype='object', name='profession_merge', length=500)

In [19]:
df.index.name

In [21]:
df.Name

AttributeError: 'DataFrame' object has no attribute 'Name'

In [22]:
df.to_csv("data/frequency.csv", index=True)

In [23]:
df.head()

profession_merge,accountant,acrobat,actor,actress,administrator,admiral,advertiser,adviser,airman,alderman,...,warden,watcher,watchman,weatherman,weaver,wedding planner,wingman,witch doctor,wrestler,writer
1950,0.000014,5.288248e-06,0.000030,0.000024,5.288248e-06,0.000013,4.807498e-07,4.807498e-06,4.807498e-07,9.614996e-07,...,0.000025,0.000000e+00,0.000009,9.614996e-07,2.403749e-06,0.0,0.000000e+00,0.000001,0.000010,0.000022
1951,0.000003,4.853971e-07,0.000023,0.000016,9.707941e-07,0.000019,0.000000e+00,1.456191e-06,0.000000e+00,4.853971e-07,...,0.000003,9.707941e-07,0.000006,0.000000e+00,9.707941e-07,0.0,4.853971e-07,0.000002,0.000001,0.000020
1952,0.000008,2.494461e-06,0.000041,0.000016,5.986707e-06,0.000011,2.993353e-06,9.977844e-07,0.000000e+00,9.977844e-07,...,0.000005,4.988922e-07,0.000001,0.000000e+00,1.496677e-06,0.0,0.000000e+00,0.000001,0.000004,0.000017
1953,0.000003,9.846275e-07,0.000035,0.000047,4.923138e-07,0.000022,0.000000e+00,4.430824e-06,4.923138e-07,9.846275e-07,...,0.000020,0.000000e+00,0.000003,1.476941e-06,9.846275e-07,0.0,0.000000e+00,0.000000,0.000001,0.000009
1954,0.000004,1.868240e-06,0.000033,0.000019,1.401180e-06,0.000050,0.000000e+00,2.802361e-06,0.000000e+00,9.341202e-07,...,0.000023,0.000000e+00,0.000009,4.670601e-07,9.341202e-07,0.0,9.341202e-07,0.000000,0.000002,0.000021

In [24]:
df = pd.read_csv("sentiment-profession/top500_merged_profession_sentiment.csv", index_col=None)
df.head()

  profession  year  sentiment  imdb
0     doctor  1950         -1    31
1     doctor  1950          0  1398
2     doctor  1950          1   112
3     doctor  1951         -1    19
4     doctor  1951          0  1209

In [25]:
df.profession.unique().size

500

In [28]:
n, n_pos_gt_neg = 0, 0
for _, subdf in df.groupby(["profession","year"]):
    n += 1
    n_pos_gt_neg += subdf.loc[subdf.sentiment == 1, "imdb"].item() > subdf.loc[subdf.sentiment == -1, "imdb"].item()

In [29]:
n, n_pos_gt_neg

(34000, 16190)

In [34]:
professions = sorted(df["profession"].unique())
recs = []
header = ["year"]

for year in range(1950, 2018):
    rec = [year]
    for profession in professions:
        pos = df.loc[(df.year == year) & (df.profession == profession) & (df.sentiment == 1), "imdb"].item()
        neg = df.loc[(df.year == year) & (df.profession == profession) & (df.sentiment == -1), "imdb"].item()
        if pos + neg == 0:
            posf, negf = 0, 0
        else:
            posf = pos/(pos + neg)
            negf = neg/(pos + neg)
        rec.append(posf)
        rec.append(negf)
    recs.append(rec)

for profession in professions:
    header.append("{}-pos".format(profession))
    header.append("{}-neg".format(profession))

sdf = pd.DataFrame(recs, columns=header)

In [36]:
sdf = sdf.drop(columns=[profession + "-neg" for profession in professions])

In [38]:
sdf.columns = ["year"] + professions

In [40]:
sdf.index = sdf.year

In [43]:
sdf = sdf.drop(columns=["year"])

In [44]:
sdf.head()

,accountant,acrobat,actor,actress,administrator,admiral,advertiser,adviser,airman,alderman,...,warden,watcher,watchman,weatherman,weaver,wedding planner,wingman,witch doctor,wrestler,writer
year,,,,,,,,,,,,,,,,,,,,,
1950,1.0,1.0,0.750000,0.954545,0.0,0.666667,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.714286,0.769231
1951,1.0,0.0,0.785714,1.000000,0.0,1.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.833333
1952,1.0,0.0,0.904762,0.900000,1.0,1.000000,1.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.888889
1953,0.0,0.0,0.863636,0.812500,1.0,0.833333,0.0,0.333333,0.0,0.0,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.800000
1954,1.0,0.5,0.750000,0.888889,0.0,0.857143,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.500000,0.833333

In [46]:
(sdf > 0.5).sum().sum()

16190

In [47]:
sdf.to_csv("sentiment-profession/sentiment.csv", index=True)

In [48]:
tdf = pd.read_csv("/home/saby/projects/profession/plos/data/release/soc-mapped-expanded-taxonomy.csv", index_col=None)

In [49]:
tdf.head()

,profession,sense-name,sense-definition,primary-soc,secondary-soc
0,accountant,accountant.n.01,someone who maintains and audits business acco...,13:Business and Financial Operations Occupations,NaN
1,acrobat,acrobat.n.01,an athlete who performs acts requiring skill a...,"27:Arts, Design, Entertainment, Sports, and Me...",NaN
2,actor,actor.n.01,a theatrical performer,"27:Arts, Design, Entertainment, Sports, and Me...",NaN
3,actor,actor.n.02,a person who acts and gets things done,"27:Arts, Design, Entertainment, Sports, and Me...",NaN
4,actress,actress.n.01,a female actor,"27:Arts, Design, Entertainment, Sports, and Me...",NaN

In [50]:
tdf["primary-soc"].unique()

array(['13:Business and Financial Operations Occupations',
       '27:Arts, Design, Entertainment, Sports, and Media Occupations',
       '11:Management Occupations', '41:Sales and Related Occupations',
       'General', '55:Military Specific Occupations',
       '29:Healthcare Practitioners and Technical Occupations',
       "Can't Say", '19:Life, Physical, and Social Science Occupations',
       '17:Architecture and Engineering Occupations',
       '33:Protective Service Occupations', '51:Production Occupations',
       '23:Legal Occupations',
       '53:Transportation and Material Moving Occupations',
       '39:Personal Care and Service Occupations',
       '35:Food Preparation and Serving Related Occupations',
       '21:Community and Social Service Occupations',
       '47:Construction and Extraction Occupations',
       '43:Office and Administrative Support Occupations',
       '45:Farming, Fishing, and Forestry Occupations',
       '37:Building and Grounds Cleaning and Maintenance Occupations',
       '25:Educational Instruction and Library Occupations',
       '49:Installation, Maintenance, and Repair Occupations',
       '15:Computer and Mathematical Occupations',
       '31:Healthcare Support Occupations'], dtype=object)

In [51]:
tdf["sense-name"].unique().size, tdf["profession"].unique().size

(563, 500)

In [52]:
tdf.loc[tdf["primary-soc"] == "13:Business and Financial Operations Occupations"]

,profession,sense-name,sense-definition,primary-soc,secondary-soc
0,accountant,accountant.n.01,someone who maintains and audits business acco...,13:Business and Financial Operations Occupations,NaN
15,analyst,analyst.n.02,an expert who studies financial data (on credi...,13:Business and Financial Operations Occupations,NaN
34,auditor,auditor.n.03,a qualified accountant who inspects the accoun...,13:Business and Financial Operations Occupations,NaN
156,contractor,contractor.n.01,someone (a person or firm) who contracts to bu...,13:Business and Financial Operations Occupations,NaN
249,executive,executive.n.01,a person responsible for the administration of...,13:Business and Financial Operations Occupations,NaN
435,operator,operator.n.03,someone who owns or operates a business,13:Business and Financial Operations Occupations,NaN
525,recruiter,recruiter.n.01,someone who supplies members or employees,13:Business and Financial Operations Occupations,NaN
610,steward,shop_steward.n.01,a union member who is elected to represent fel...,13:Business and Financial Operations Occupations,NaN
676,wedding planner,NaN,NaN,13:Business and Financial Operations Occupations,NaN

In [72]:
taxonomy = {"name": "SOC", "children": []}

for soc, socdf in tdf.groupby("primary-soc"):
    if re.match("^\d", soc):
        soc = soc[3:]
        print(soc)
        soc_node = {"name": soc, "children": []}

        for (sense, sense_defn), sense_df in socdf.groupby(["sense-name", "sense-definition"], dropna=False):
            sense_name = sense if pd.notna(sense) else "none"
            sense_node = {"name": sense_name, "children": []}
            
            for profession in sense_df["profession"].unique():
                sense_node["children"].append({"name": profession, "value": 1})
            
            soc_node["children"].append(sense_node)

        taxonomy["children"].append(soc_node)

Management Occupations
Business and Financial Operations Occupations
Computer and Mathematical Occupations
Architecture and Engineering Occupations
Life, Physical, and Social Science Occupations
Community and Social Service Occupations
Legal Occupations
Educational Instruction and Library Occupations
Arts, Design, Entertainment, Sports, and Media Occupations
Healthcare Practitioners and Technical Occupations
Healthcare Support Occupations
Protective Service Occupations
Food Preparation and Serving Related Occupations
Building and Grounds Cleaning and Maintenance Occupations
Personal Care and Service Occupations
Sales and Related Occupations
Office and Administrative Support Occupations
Farming, Fishing, and Forestry Occupations
Construction and Extraction Occupations
Installation, Maintenance, and Repair Occupations
Production Occupations
Transportation and Material Moving Occupations
Military Specific Occupations

In [73]:
json.dump(taxonomy, open("taxonomy.json", "w"), indent=2)

In [62]:
sense_df

,profession,sense-name,sense-definition,primary-soc,secondary-soc
607,staff sergeant,staff_sergeant.n.01,a noncommissioned officer ranking above corpor...,55:Military Specific Occupations,NaN